body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}
header{
    background-color: black;
    color: white
}
#ramen-options {
    display: flex;       
    justify-content: center; 
    align-items: center; 
    gap: 10px;          
    flex-wrap: wrap;     
}

#ramen-options img {
    width: 120px;  
    height: auto;  

}

#ramen-menu {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
#ramen-menu img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid transparent;
}
#ramen-menu img:hover {
    border-color: #ff9800;
}
#ramen-detail img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}
form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
input, button {
    padding: 8px;
    font-size: 16px;
}